



/* This is my first proper css file */

body{
    background-color: rgb(149, 80, 156);
    max-width: 650px;
    margin: 0;
}

.header{
    background: white;
    width: 100vw;
    padding: 1px;
    text-align: center;
}

h1, h3, p{
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

.chart{
    background-color: white;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

