



/* This is my first proper css file */

body{
    background-color: #80B0DF;
    max-width: 650px;
    margin: auto;
}

.header{
    background:#80B0DF;
    width: 100vw;
    padding: 1px;
    text-align: center;
}

h1, h2, h3, p{
    color:black;
    font-family: 'Georgia', serif;
}

.chart{
    background-color: white;
    width:450px;
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb{149, 80, 156};
}
.button1{
    background-color:#366AA2;
    border: solid;
    border-color: black;
    padding: 15px 32px;
    color: white;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 12px;
    width: 250px;
    margin: 40px;
    font-family: 'Georgia', serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.button1:hover{
    background-color: #366AA2E6;
}    

.button2{
    background-color: rgb(149, 80, 156);
    border: none;
    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 12px;
    width: 250px;
    margin: 40px;
    font-family: 'Georgia', serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.button2:hover{
    background-color:#366AA2E6;
} 
