
/* This is my first proper css file */

body{
    background-color: #80B0DF;
    max-width: 650px;
    margin: auto;
}



.header{
    background:#80B0DF;
    border:solid, black;
    padding: 1px;
    text-align:start;
    width: 450px;
}

h1, h2, h3, p{
    color:black;
    font-family: 'Georgia', serif;
}

.chart{
    background-color: white;
    width:450px;
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}
.button1{
    background-color:#366AA2;
    border: solid;
    border-color: black;
    padding: 15px 32px;
    color: white;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 12px;
    width: 250px;
    margin: 40px;
    font-family: 'Georgia', serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.button1:hover{
    background-color: #80B0DF;
}    

.button2{
    background-color: #366AA2E6;
    border:solid;
    border-color: black;
    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 12px;
    width: 250px;
    margin: 40px;
    font-family: 'Georgia', serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.button2:hover{
    background-color:#80B0DF;
} 
/* for screens between 390 to 430 px */
@media screen and (max-width: 430px) and (min-width: 390px) {
    .vega-embed.has-actions {
        width: 360px;
    }
}

/* for screens 389 px and below*/
@media screen and (max-width: 389px) {
    .vega-embed.has-actions {
        width: 340px;
    }
}

/* for screens 450 px and below */
@media screen and (max-width: 450px) {
    h1{
        font-size: 40px;
    } 
  
    h2{
        font-size: 25px;
    } 
  
    h3{
        font-size: 15px;
    } 
    p{
        font-size: 17px;
    }
}

