Project.css




/* This is my first proper css file */

body{
    background-color: #80B0DF;
    max-width: 650px;
    margin: auto;
}



.header{
    background:#80B0DF;
    border:solid, black;
    padding: 1px;
    text-align:start;
    width: 450px;
}

h1, h2, h3, p{
    color:black;
    font-family: 'Georgia', serif;
}

.chart{
    background-color: white;
    width:450px;
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}
